.out-wrapper {
	margin-bottom: 30px;
	.title {
		position: relative;
		padding-bottom: 12px;
		border-bottom: 1px solid $grey;
		margin-bottom: 25px;
		&::after {
			content: "";
			width: 30px;
			height: 1px;
			background-color: $danger;
			position: absolute;
			left: 0;
			bottom: 0;
		}
		> span {
			font-size: 24px;
			position: absolute;
			top: 0;
			right: 0;
			color: $danger;
		}
		h2 {
			font-size: 14px;
			font-weight: 400;
			color: $danger;
			text-transform: uppercase;
			margin: 0;
			line-height: 18px;
		}
	}
}

.overview {
	h3 {
		font-size: 16px;
		line-height: 24px;
		color: $black;
		font-weight: 500;
		margin-bottom: 10px;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		 li {
		 	font-size: 14px;
		 	color: $black;
		 	margin-bottom: 10px;
		 	&:last-child {
		 		margin-bottom: 0;
		 	}
		 	span {
		 		color: $danger;
		 		font-weight: 500;
		 	}
		 }
	}
}

.progress-wrapper {
	text-align: center;
	padding: 30px 0;
	span {
		display: inline-block;
		font-size: 80px;
		line-height: 100px;
		color: $danger;
		font-weight: 700;
	}
	p {
		text-transform: uppercase;
		color: $black;
		margin-top: 10px;
		font-size: 14px;
		font-weight: 500;
	}
}

.milestone {
	.title-box {
		display: flex;
		h2 {
			text-transform: uppercase;
			font-weight: 500;
			font-size: 16px;
		}
	}
}

.timeline {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
	&::before {
		content: "";
		width: 1px;
		height: 100%;
		background-color: $grey;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -0.5px;
	}
	li {
		position: relative;
		width: 100%;
		display: flex;
		min-height: 50px;
		margin-bottom: 10px;
		.number-line {
			width: 50px;
			height: 50px;
			line-height: 30px;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			border: 10px solid $grey;
			display: inline-block;
			vertical-align: middle;
			border-radius: 100%;
		}
		.box-left {
			position: relative;
			width: 50%;
			margin-right: auto;
			text-align: right;
			padding-right: 80px;
			display: flex;
			justify-content: flex-end;
    		align-items: center;
			&::after {
				content: "";
				width: 30px;
				height: 1px;
				background-color: $grey;
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: -0.5px;
			}
			.number-line  {
				position: absolute;
				top: 50%;
				right: 30px;
				@include translateY(-50%);
			}
			span  {
				font-size: 14px;
				font-weight: 700;
				color: $black;
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
			}
			&.active {
				.number-line {
					border-color: $success;
				}
			}
		}
		.box-right {
			position: relative;
			width: 50%;
			margin-left: auto;
			padding-left: 80px;
			display: flex;
			align-items: center;
			&::after {
				content: "";
				width: 30px;
				height: 1px;
				background-color: $grey;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -0.5px;
			}
			.number-line  {
				position: absolute;
				top: 50%;
				left: 30px;
				@include translateY(-50%);
			}
			span  {
				font-size: 14px;
				font-weight: 700;
				color: $black;
				display: inline-block;
				vertical-align: middle;
				margin-left: 10px;
			}
			&.active {
				.number-line {
					border-color: $success;
				}
			}
		}
	}
}