<div class="main-menu js-menu">
		<a href="" class="btn btn-primary js-close"><i class="material-icons">close</i></a>
	<ul class="list-unstyled anchor-nav" id="menu">
		<li class="nav-item">
			<a class="nav-link" href="#home" id="home-menu">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#knowMore" id="know-more">Know More</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#pricing" id="pricing-menu">Pricing</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#capability" id="capability-menu">Capability</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#partnership" id="partnership-menu">Partnership</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#about" id="about-menu">About</a>
		</li>
	</ul>
</div>
