<div class="side-menu" data-simplebar data-simplebar-auto-hide="false">
	<ul>
		<li><a href=""><span class="material-icons-outlined">dashboard</span> Dashboard</a></li>
		<li><a href=""><span class="material-icons-outlined">event</span> Event Overview</a></li>
		<li><a href=""><span class="material-icons-outlined">campaign</span> Campaign Manager</a></li>
		<li><a href="" class="active"><span class="material-icons-outlined">web</span> Digital Asset Manager (DAM)</a></li>
	</ul>
</div>