.badge {
	padding: 8px 15px;
	border-radius: 0px;
	font-size: 14px;
	font-weight: 500;
	&.badge-success {
		color: $success;
		background-color: rgba(52, 220, 140, 0.2);
	}
	&.badge-warning {
		color: $yellow;
		background-color: rgba(255, 183, 67, 0.2);
	}
}